{erl_opts, [
  debug_info,
  fail_on_warning,
  {parse_transform, lager_transform},
  {lager_extra_sinks, [log]},
  {i, "include/"}
]}.

{deps, [
  {lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
  {yamerl, ".*", {git, "https://github.com/yakaz/yamerl.git", "master"}}
]}.

{relx, [{release, { reproxy, "0.1.0" },
         [reproxy,
          sasl]},

        {sys_config, "./config/sys.config"},
        {vm_args, "./config/vm.args"},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.

{profiles, [{prod, [{relx, [{dev_mode, false},
                            {include_erts, true}]}]
            }]
}.
